credentials.json
pose_estimation/model_weights/yolov7-w6-pose.pt
object_detection_v7/model_weights/yolov7.pt
object_detection_v7/model_weights/yolov7-tiny.pt
object_detection_v5/model_weights/yolov5s.pt
object_detection_v5/model_weights/yolov5s6.pt
alter_vid/cyclist.mp4